h2{
    text-align: center;
}
input{
    border: 1px solid #762311;
}
h2,h3,h4,h5,h6,h1{
    color: red;
}
div{
    margin: 0 auto;
    border: 1px solid red;
    width: 300px;
    min-height:200px;
    text-align: left;
    padding: 20px;
}
hr{
    border: 1px solid red;
}
