
input{
    border: 1px solid #762311;
}
h2,h3,h4,h5,h6,h1{
    color: rgb(10, 46, 12);
    text-align: center;
    font-weight: bold;
}
div{
    margin: 0 auto;
    border: 1px solid red;
    width: 300px;
    height:200px;
    text-align: left;
    padding: 20px;
}
hr{
    border: 1px solid red;
}
body{
    text-align: center;
}
p{
    text-indent: 25px;  
}
 
.block{
    display: block;
    position: relative;
    left: 0px;


}
.blockActive{
    animation-name: hidenBox;
    animation-duration: 5s;
    animation-timing-function: linear;
    background-color: red;
}
@keyframes hidenBox {
    0%{
        top: 0;
        left: 0;
        background-color: red;
   
    }
    10%{
        top: 10px;
        left: 100px;
        background-color: green;
        transform: rotate(90deg);
    }
    20%{
        top: 0;
        left: 200px;
        background-color: yellow;
    }
    30%{
        top: 10px;
        left: 100px;
        background-color: blue;
    }
    40%{
        top: 20px;
        left: 0px;
        background-color: orange;
        transform: rotate(180deg);
        
    }
    50%{
        top: 10px;
        left: -100px;
        background-color: red;
    }
    60%{
        top: 0;
        left: 0;
        background-color: green;
    }
    70%{
        top: 10px;
        left: 100px;
        background-color: yellow;
    }
    80%{
        top: 20px;
        left: 200px;
        background-color: orangered;
        transform: rotate(90deg);
    }
    90%{
        top: 10px;
        left: 100px;
        background-color: blue;
    }
    100%{
        top:0;
        left:0;
        background-color: red;
    }

}
.border{
    border: 3px solid green;
}

.icon{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding: 0;
}
