h2{
    text-align: center;
}
input{
    border: 1px solid red;
}
h2,h3,h4,h5,h6,h1{
    color: red;
}
div{
    margin: 0 auto;
    border: 1px solid red;
    width: 200px;
    height: 20px;
    text-align: center;
}
*{
    padding: 20px !important;

}